<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.bluejack20_2.ooveo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_ooveo_logo2_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OOVEO_SALON">
        <activity android:name=".AppointmentCreatedActivity"></activity>
        <activity android:name=".BookingPaymentActivity" />
        <activity android:name=".AppointmentCartActivity" />
        <activity android:name=".OnProgressAppointmentActivity" />
        <activity android:name=".ChangePhoneNumberVerifActivity2" />
        <activity android:name=".ChangePhoneNumberVerifActivity1" />
        <activity android:name=".ChangePasswordActivity" />
        <activity android:name=".ChangePasswordAuthActivity2" />
        <activity android:name=".ChangePasswordAuthActivity1" />
        <activity android:name=".RegisterMerchantActivity2" />
        <activity android:name=".RegisterMerchantActivity" />
        <activity android:name=".DarkModeActivity" />
        <activity android:name=".fragments.MerchantRegisterActivity" />
        <activity android:name=".DeleteServiceActivity" />
        <activity android:name=".UpdateServiceActivity" />
        <activity android:name=".AddServiceActivity" />
        <activity android:name=".ManageStylistActivity" />
        <activity android:name=".ManageServiceActivity" />
        <activity android:name=".MerchantAdminActivity" />
        <activity android:name=".homes.MapActivity" />
        <activity android:name=".homes.ReflexologyActivity" />
        <activity android:name=".homes.SalonActivity" />
        <activity android:name=".homes.BeautyActivity" />
        <activity android:name=".DarkModeActivity" />
        <activity android:name=".MerchantRegisterActivity" />
        <activity android:name=".PhoneNumberVerificationActivity" />
        <activity android:name=".PhoneNumberActivity" />
        <activity android:name=".LanguageActivity" />
        <activity android:name=".EditProfileActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".homes.HomeActivity" />
        <activity android:name=".MainActivity2" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".homes.DetailMerchantActivity" />
        <activity android:name=".homes.BarberActivity" />
        <activity android:name=".LandingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC1hgW5a4QePlfh9-xKggyjk6J3Hv6gUNg" />
    </application>

</manifest>