<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.bluejack20_2.ooveo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_ooveo_logo2_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OOVEO_SALON">
        <activity android:name=".OnProgressAppointmentActivity"></activity>
        <activity android:name=".ChangePhoneNumberVerifActivity2" />
        <activity android:name=".ChangePhoneNumberVerifActivity1" />
        <activity android:name=".ChangePasswordActivity" />
        <activity android:name=".ChangePasswordAuthActivity2" />
        <activity android:name=".ChangePasswordAuthActivity1" />
        <activity android:name=".RegisterMerchantActivity2" />
        <activity android:name=".RegisterMerchantActivity" />
        <activity android:name=".DarkModeActivity" />
        <activity android:name=".fragments.MerchantRegisterActivity" />
        <activity android:name=".PhoneNumberVerificationActivity" />
        <activity android:name=".PhoneNumberActivity" />
        <activity android:name=".LanguageActivity" />
        <activity android:name=".EditProfileActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".MainActivity2" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".DetailMerchantActivity" />
        <activity android:name=".BarberActivity" />
        <activity android:name=".LandingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>